training_algorithm="WeightArrayModel"
training_set="../ghmm/dataset/acceptor_initial_pattern.fasta"
alphabet=( "A", "C", "G", "T")
length=<acceptor_initial_pattern_length>
vicinity_length = 0
pseudo_counts = 0
model_selection_criteria="BIC"
begin=("order": 0)
end = ("order": 4)
step = ("order": 1)
weights="dataset/sequence_weights.txt"
# myop_generate_training_set = "segseq -x acceptor -l <acceptor_initial_pattern_length> -f dataset/train.fa -g dataset/train.gtf -o -- -${<acceptor_length> - <acceptor_offset> + 2} > ghmm/dataset/acceptor_initial_pattern.fasta"
# myop_revcomp:myop_generate_training_set = "myop-reverse_complement.pl < ghmm/dataset/acceptor_initial_pattern.fasta > ghmm/dataset/acceptor_initial_pattern_rev.fasta"
# myop_revcomp:training_set="../ghmm/dataset/acceptor_initial_pattern_rev.fasta"
# myop_train = "train -F -c ../ghmm/cnf/acceptor_initial_pattern.cfg > model/acceptor_initial_pattern.model"
# myop_revcomp:myop_train = "train -F -c ../ghmm/cnf/acceptor_initial_pattern_rev.cfg > model/acceptor_initial_pattern_rev.model"
# myop_isochore = 1